.card-back {
    position: absolute;
    top: 52%;
    left: 25%;
    background-image: url('../../assets/images/bg-card-back.png');
    background-size: cover;
    width: 25%;
    height: 25%;
    padding: 2%;
    border-radius: 8px;
}

.cvc {
    position: relative;
    top: 47%;
    left: 38%;
    color: white;
    letter-spacing: 3px;
}

@media only screen and (max-width: 1024px){

    .card-back {
        top: 40%;
        left: 15%;
        width: 35%;
        height: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .card-back {
        position: absolute;
        top: 2%;
        left: 20%;
        background-image: url('../../assets/images/bg-card-back.png');
        background-size: cover;
        width: 70%;
        height: 20%;
        padding: 2%;
        border-radius: 8px;
    }
}